@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose img {
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
  display: block;
}

.ProseMirror p {
  margin: 0;
}

.ProseMirror {
  min-height: 300px;
  padding: 1rem;
}

.hashtag {
  color: blue;
  font-weight: bold;
}

.ProseMirror a {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid blue;
}

.ProseMirror pre {
  background-color: #f4f4f4;
  padding: 0.5rem;
  border-radius: 4px;
}
